* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
%popular {
  color: #fff !important;
  background-color: #3d5afe !important;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
body {
  button {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #3f3f3f;
    transition-duration: 0.3s;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-transform: capitalize;
    &:hover {
      background-color: #aeaeae;
    }
    &:active {
      scale: 0.98;
    }
    &[variant="outline"] {
      border: 1px solid #3d5afe;
      color: #3d5afe;
      background-color: transparent;
      &:hover {
        background-color: #eaefff;
      }
    }
    &[variant="text"] {
      border: none !important;
      color: #3d5afe;
      background-color: transparent !important;
      &:hover {
        background-color: #eaefff;
      }
    }
    &[disableShadow] {
      @extend %popular;
    }
    &[disabled] {
      color: #9e9e9e;
      background-color: #e0e0e0;
    }
    &[startIcon="local_grocery_store"],
    &[endIcon="local_grocery_store"] {
      @extend %popular;
      box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    }
    &[startIcon="local_grocery_store"] {
      &::before {
        content: url(../shopping_cart.svg);
        margin-right: 5px;
        transform: translateY(2px);
      }
    }
    &[endIcon="local_grocery_store"] {
      &::after {
        content: url(../shopping_cart.svg);
        margin-left: 2px;
        transform: translateY(2px);
      }
    }
    &[size="sm"] {
      padding: 8px 16px;
    }
    &[size="md"] {
      padding: 10px 20px;
    }
    &[size="lg"] {
      padding: 12px 24px;
    }
    &[size="sm"],
    &[size="md"],
    &[size="lg"] {
      @extend %popular;
      box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    }
    &[color="primary"] {
      @extend %popular;
      &:hover {
        background-color: #0039cb !important;
      }
    }
    &[color="secondary"] {
      background-color: #455a64;
      color: #fff;
      &:hover {
        background-color: #1c313a;
      }
    }
    &[color="danger"] {
      background-color: #d32f2f;
      color: #fff;
      &:hover {
        background-color: #9a0007;
      }
    }
    &[color="default"],
    &[color="primary"],
    &[color="secondary"],
    &[color="danger"] {
      box-shadow: 0px 2px 3px rgba(0, 49, 202, 0.2);
    }
  }
}
